*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(127, 255, 146);
}

#adim{
    width: 60px;
    padding: 10px;
   border-radius: 10px;
   background-color: rgb(127, 255, 146);
   
}

#adim > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.card{
    margin: 10px;
    border: 1px solid rgb(10, 233, 51);
    
}
.icona{
    width: 30px;
    height: 50px;
}
.deleteproduct{
    margin-top: 0 !important;
}
.edit{
   text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1140px) {
    .input-group {
      margin-left: 10px;
    }
  }
  
@media (min-width: 375px) and (max-width: 767px){
    .input-group {
        margin-left: 10px;
        
      }
}

.form-control{
    border: 1px solid rgb(10, 233, 51);
}

#homep{
    width: 8rem;
    height: 2rem;
    border-radius: 25px;
    
}